
<div class="navbar2 navbar-inverse">
    <h1 class="text-personal">[ Frank ]</h1>
</div>
<img src="\Content\imgs\bar3.jpg" class="img-responsive" />
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
        </div>

        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li>
                    <ul id="my-menu" class="nav navbar-nav">
                        <li><a href="#">Music</a>
                            <ul class="nav" style="position: fixed">
                                <li><a style="color: #D7B420" href="#">Solo</a></li>
                                <li><a style="color: #D7B420" href="#">Bands</a></li>
                                <li><a style="color: #D7B420" href="#">Film Scoring</a>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul id="my-menu" class="nav navbar-nav">
                        <li>
                            <a href="#">Visuals</a>
                            <ul class="nav" style="position: fixed">
                                <li><a style="color: #D7B420" href="#">Photo Gallery</a></li>
                                <li><a style="color: #D7B420" href="#">Drawings</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a style="color: #D7B420" href="#">Technology</a></li>
                <li>
                    <ul id="my-menu" class="nav navbar-nav">
                        <li>
                            <a href="#">Frank</a>
                            <ul class="nav" style="position: fixed">
                                <li><a style="color: #D7B420" href="#">About Me</a></li>
                                <li><a style="color: #D7B420" href="#">Writings</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              
            </ul>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-12">
        <blockquote class="pull-left">
            <p>Frank's Website</p>
            <footer>Frank</footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">RELEASES</div>
    <div class="col-sm-4">DAILY NEWS</div>
    <div class="col-sm-4">DYNAMIC CONTENT</div>
</div>
</div>
<script>
    $('#my-menu').tendina({
    });
</script>